<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
      <div id ="error_explanation">
          <h2>
            <%= "#{pluralize(@post.errors.count, "error")} prohibited this entry from being saved:" %>
          </h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
              <% end %>
          </ul>
      </div>
    <% end %>
      <br>
        <%= f.label :title %><%= f.submit class:'flr' %><br>
        <%= f.text_field :title, class:'x mb1' %><br>

        <%= f.label :body %><br>
        <%= f.hidden_field :body, id: :post_body %>
        <trix-editor input="post_body"></trix-editor>
        <%= f.submit class:'flr mt1' %>
<% end %>
